
$primary-color: color("deep-blue", "base");
$secondary-color: ???;
$font-color: ???;
$font-color-light: ???;
$font-color-dark: ???;

$font-size-tiny: 0.8rem;
$font-size-small: 0.9rem;
$font-size-normal: 1rem;
$font-size-large: 1.1rem;
$font-size-larger: 1.2rem;
$font-size-super-large: 1.4rem;

// materialized overrides

$footer-bg-color: $primary-color-light;
$sidenav-bg-color: $primary-color;
$sidenav-font-color: lighten($primary-color, 40%);
$navbar-font-color: $primary-color;
$toast-color: color('teal', 'base');

$dropdown-color: $primary-color-light;
$dropdown-item-height: 40px;
$dropdown-font-size: $font-size-small;
$dropdown-hover-color: $off-black;
